---
layout: post
title:  CVE-2021-21832
date:   2021-08-24 12:12:21 +0800
---

Note: Copy this template to the format `<YYYY>-<MM>-<DD>-<CVE NUMBER>.md`, then edit the relevant sections accordingly.

### Disc Soft Ltd Daemon Tools Pro ISO Parsing memory corruption vulnerability

#### CVE ID

CVE-2021-21832

#### Description

A memory corruption vulnerability exists in the ISO Parsing functionality of Disc Soft Ltd Deamon Tools Pro 8.3.0.0767. A specially crafted malformed file can lead to an out-of-bounds write. An attacker can provide a malicious file to trigger this vulnerability.

#### Tested Versions

Disc Soft Ltd Daemon Tools Pro 8.3.0.0767

#### Details

DAEMON Tools Pro is a powerful and professional emulation software to work with disc images and virtual drives. It allows mounting of ISO images on Windows systems.

When parsing a specifically crafted ISO file it is possible to cause a memory corruption. This is due to an integer overflow during a malloc operation:

#### Timeline

* 2021-05-21 - Vendor Disclosure
* 2021-07-23 - Vendor Patched
* 2021-08-17 - Public Release

#### Credit

Discovered by Piotr Bania of Cisco Talos.

